# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\py\lab_6_Flask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
